.sec {position: relative;}
.sec.reverse {opacity: 0}
.sec.reverse .bg {position: relative;top: -100vh;}
.sec.seen-sec .cont-group {display: flex;}
.sec-inner {height: 100%;}
.sec-inner .bg {width: 100%;height: 100vh;will-change: top, left;transform: translate3d(0, 0, 0);}
.sec-inner .bg.fixed {position: fixed;top: 0;left: 0;}
.sec-inner .cont-group {position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);display: none;flex-direction: column;width: 60vw;opacity: 0;color: #fff;text-align: center;}
.sec-inner .subject {letter-spacing: 2px;}
.sec-inner .subject[data-num*="0"] {position: relative;}
.sec-inner .subject[data-num*="0"]:after {content: attr(data-num);position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);height: 90px;font-size: 70px;opacity: 0.2;}

.sec-01 {z-index: 100;}
.sec-01 .bg {background: url(../images/bg-01.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-01 .cont-group {display: flex;opacity: 1;}
.sec-01 .subject {position: relative;transform: translate3d(0, 50%, 0);opacity: 0;}
.sec-01 .page-tit {display: flex;flex-direction: column;margin-top: 40px;line-height: 1.3;}
.sec-01 .page-tit span {position: relative;transform: translate3d(0, 50%, 0);opacity: 0;}

.sec-01.seen-sec .subject {transform: translate3d(0, 0, 0);opacity: 1;transition: all .8s .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.sec-01.seen-sec .page-tit span {transform: translate3d(0, 0, 0);opacity: 1;}
.sec-01 .page-tit span:nth-of-type(1) {transition: all .8s .5s cubic-bezier(0.25, 0.46, 0.45, 0.94)}
.sec-01 .page-tit span:nth-of-type(2) {transition: all .8s .7s cubic-bezier(0.25, 0.46, 0.45, 0.94)}

.sec-02 {z-index: 200;}
.sec-02 .bg {background: url(../images/bg-02.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-02 .subject {margin-bottom: 70px;}
.sec-02 .tit {margin-bottom: 40px;line-height: 1.3;}
.sec-02 .desc {line-height: 1.5;}

.sec-03 {z-index: 300;}
.sec-03 .bg {background: url(../images/bg-03.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-03 .tit {line-height: 1.3;}
.sec-03 .subject {margin-bottom: 70px;}

.sec-04 {z-index: 400;}
.sec-04 .bg {background: url(../images/bg-04.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-04 .cont-group {text-align: left;}
.sec-04 .tit {margin-top: 20px;line-height: 1.63;}

.sec-05 {z-index: 500;}
.sec-05 .bg {background: url(../images/bg-05.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-05 .cont-group {align-items: end;text-align: left;}
.sec-05 .subject {margin-right: 371px;}
.sec-05 .tit {margin-top: 20px;line-height: 1.63;}

.sec-06 {z-index: 600;}
.sec-06 .bg {background: url(../images/bg-06.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-06 .cont-group {text-align: left;}
.sec-06 .tit {margin-top: 20px;line-height: 1.63;}

.sec-07 {z-index: 800;}
.sec-07 .bg {background: url(../images/bg-07.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-07 .subject {margin-bottom: 70px;}
.sec-07 .tit {margin-bottom: 40px;line-height: 1.3;}
.sec-07 .desc {line-height: 1.5;}
.sec-07 .personality-list {display: flex;justify-content: space-evenly;margin-top: 100px;}
.sec-07 .personality-item {display: flex;flex-direction: column;align-items: center;}
.sec-07 svg {display: block;width: 50px;height: 50px;margin-bottom:20px;}

.sec-08 {z-index: 900;}
.sec-08 .bg {background: url(../images/bg-08.jpg) 50% 50% no-repeat;background-size: cover;}
.sec-08 .bg::after {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.25)}
.sec-08 .tit {display: flex;flex-direction: column;}
.sec-08 .tit span {transition: all .8s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.sec-08 .tit span:nth-of-type(1) {margin-bottom: 10px;}
.sec-08 .cont-group {transition: none;}

.indicator {position: fixed;top: 50%;left: 30px;transform: translate3d(-100%, -50%, 0);display: flex;align-items: flex-start;flex-direction: column;width: 300px;transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index: 1000;}
.indicator.active {transform: translate3d(0, -50%, 0);}
.indicator button {display: flex;align-items: center;color: #fff;cursor: pointer;}
.indicator button:focus {outline: 1px solid black;}
.indicator button::before {content: '';width: 7px;height: 7px;margin-left: 2px;margin-right: 15px;border-radius: 50%;background-color: #fff;}
.indicator button.active::before {width:12px;height: 12px;margin-left: 0;}
.indicator button:nth-of-type(n+2) {margin-top: 30px;}